<div >
    <!--<table class=table table-striped>-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<th ng-repeat="thead in tableHeaders"><a href=""-->
                                                     <!--ng-click="returnParentScope().orderByField = thead ;returnParentScope().reverse=!reverse">{{thead}}</a>-->
            <!--</th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->
        <!--<tr ng-repeat="tbody in deals.slice(((currentPage-1)*5), ((currentPage)*5)) | filter:searchRes | orderBy:orderByField:reverse ">-->
            <!--<td ng-repeat="value in tableHeaders ">-->
                <!--<div ng-if="value == 'imageLink'"><img src={{tbody[value]}}></div>-->
                <!--<div ng-if="value!=='imageLink'"> {{tbody[value]}}</div>-->
            <!--</td>-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->

    <table  tr-ng-grid="" items='deals' fields="tableHeaders" page-items="8" selection-mode="None"  style="margin-top: 20px" >
        <thead>
        <tr>
            <th  display-name="Image" enable-filtering="false" enable-sorting="false" style="vertical-align: text-top" ></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <div>
                    <img src={{gridItem.imageLink}} height="80" width="60" >
                </div>
            </td>
        </tr>
        </tbody>

    </table>

    <!--<pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize"-->
                <!--class="pagination-sm" boundary-links="true" rotate="false" num-pages="numPages" items-per-page="itemsPerPage"-->
                <!--ng-change="pageChanged()"></pagination>-->
</div>